
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin flex-center-column {
    @include flex-center();
    flex-direction: column;
}

@mixin full-screen-drop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    opacity: 0.5;
}